  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="{{ ASSETS_ROOT }}/img/AdminLTELogo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">ChamanTour</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="https://i.pinimg.com/originals/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'logout' %}" class="d-block">
            {{ request.user.username }} - Chiqish
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item ">
            {% comment %} <a href="{% url 'home' %}" class="nav-link {% if 'index' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Boshqaruv oynasi 
              </p>
            </a> {% endcomment %}
              <li class="nav-item">
                <a href="{% url 'sliders' %}" class="nav-link {% if 'sliders' in segment %} active {% endif %}">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>Slayderlar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'categories' %}" class="nav-link {% if 'categories' in segment %} active {% endif %}">
                  <i class="nav-icon fas fa-book-open"></i>
                  <p>Kurs Kategoriyalari</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'courses' %}" class="nav-link {% if 'courses' in segment %} active {% endif %}">
                  <i class="fas fa-book nav-icon"></i>
                  <p>Kurslar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'news' %}" class="nav-link {% if 'news' in segment %} active {% endif %}">
                  <i class="nav-icon fas fa-newspaper"></i>
                  <p>Yangiliklar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'partners' %}" class="nav-link {% if 'partners' in segment %} active {% endif %}">
                  <i class="nav-icon fas fa-handshake"></i>
                  <p>Hamkorlar</p>
                </a>
              </li> 
              <li class="nav-item">
                <a href="{% url 'leaders' %}" class="nav-link {% if 'leaders' in segment %} active {% endif %}">
                  <i class="nav-icon fas fa-user-tie"></i>
                  <p>Rahbariyat</p>
                </a>
              </li> 
              <li class="nav-item">
                <a href="{% url 'documents' %}" class="nav-link {% if 'documents' in segment %} active {% endif %}">
                  <i class="nav-icon fas fa-folder"></i>
                  <p>Hujjatlar</p>
                </a>
              </li> 
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  